apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ .Values.prometheusCrd.name }}
  namespace: argocd
spec:
  project: default
  source:
    repoURL: {{ .Values.repoURL }}
    targetRevision: {{ .Values.targetRevision }}
    path: {{ .Values.prometheusCrd.path }}
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - Validate=false
    - ApplyOutOfSyncOnly=true
  metadata:
    annotations:
      argocd.argoproj.io/sync-wave: {{ .Values.prometheusCrd.syncWave }}
